.git
.gitignore
.bundle
.env*
.devcontainer
.github
coverage
docs
log/*
tmp/*
storage/*
test
frontend/dist
frontend/node_modules
node_modules

config/master.key
config/credentials/*.key

docker-compose.yml

!log/.keep
!tmp/.keep
!tmp/pids/.keep
!storage/.keep
!tmp/storage/.keep
